.weather-container {
    text-align: center;
    margin: auto;
}

.weather {
    font-size: 22px;
    margin: 0;
}
.temp {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.feelsLike{
    font-weight: bolder;
}

.lon, .lat {
    font-size: 22px;
    margin: 0;
}

.column_1{
    margin-left: 25px;
    margin-top: 20px;
}

.zipInput {
    color: cornsilk;
}